/* Font import */
@import url('https://fonts.googleapis.com/css?family=Audiowide:400');

@font-face {
    font-family: 'neonregular';
    src: url(../fonts/neon____-webfont.woff2) format('woff2'),
        url(../fonts/neon____-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'crackman';
    src: url(../fonts/crackman-webfont.woff2) format('woff2'),
        url(../fonts/crackman-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Audiowide', sans-serif, cursive;
    color: #f9c80e;
    background-image: url(../images/background.png);
    min-height: 100vh;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-box-pack: center;
    justify-content: center;
}

/* Modals styling */
.welcomeModalContent {
    background-color: #261447;
}

.gameOverModalContent,
#closeGameOver {
    background-color: #f9c80e;
    color: #f6019d;
    letter-spacing: 1px;
}

.winModalContent {
    background-color: #0d0221;
    letter-spacing: 2px;
}

.fa-trophy {
    font-size: 72px;
}

/*Header styling */
h1 {
    text-align: center;
    font-family: 'neonregular', sans-serif;
    color: #f6019d;
}

#headerp {
    font-family: 'crackman', sans-serif;
    letter-spacing: 3px;
    Font-size: 32px;
    font-weight: 600;
    text-align: center;
    color: #2de2e6;
}

/*Difficulty buttons styling */
.buttondiv {
    display: inline;
}

.btn,
.welcomeModalContent {
    letter-spacing: 1px;
    color: #2de2e6;
}

.easybtn,
.welcomeModalBtn {
    background-color: #f6019d;
}

.mediumbtn {
    background-color: #791e94;
}

.hardbtn {
    background-color: #ff6c11;
}

/*Board styling */
div#board {
    background-color: rgba(0, 0, 0, 0);
    max-width: 500px;
    padding: 5px;
    margin: 0px auto;
}

/*Cards styling*/
div#board>div {
    border: 1px solid #f6019d;
    border-radius: 8px;
    height: 68px;
    width: 68px;

    cursor: pointer;
}

/* Classes that are added to reveal, switch off or hide the card*/
.bombjack {
    background-image: url(../images/bombjack.png);
    background-size: cover;
}

.donkeykong {
    background-image: url(../images/donkeykong.png);
    background-size: cover;
}

.frogger {
    background-image: url(../images/frogger.png);
    background-size: cover;
}

.ghost {
    background-image: url(../images/ghost.png);
    background-size: cover;
}

.leonardo {
    background-image: url(../images/leonardo.png);
    background-size: cover;
}

.luigi {
    background-image: url(../images/luigi.png);
    background-size: cover;
}

.mario {
    background-image: url(../images/mario.png);
    background-size: cover;
}

.robin {
    background-image: url(../images/robin.png);
    background-size: cover;
}

.hidden {
    background-image: url(../images/tilecover.png);
    background-size: cover;
}

.removed {
    opacity: 0;
}

/* Media */

@media (min-width: 344px) {
    div#board>div {
        height: 72px;
        width: 72px;
        margin: 2px;
    }
}

@media (min-width: 400px) {
    div#board>div {
        height: 84px;
        width: 84px;
        margin: 5px;
    }
}

@media (min-width: 460px) {
    div#board>div {
        height: 100px;
        width: 100px;
    }

    h1 {
        font-size: 64px;
    }
}

@media (min-width: 768px) {
    .buttondiv {
        display: block;
        padding: 25px;
        text-align: center;
    }

    #headerp {
        color: #f9c80e;
        font-size: 64px;
    }
}

@media (min-width: 1920px) {
    div#board {
        max-width: 1000px;
        padding: 5px;
        margin: 0px auto;
    }

    div#board>div {
        border: 4px solid #f6019d;
        border-radius: 24px;
        height: 175px;
        width: 175px;
        float: left;
        margin: 6px;
        cursor: pointer;
    }

}